@import "tailwindcss";
@theme {
 --color-primary: #D8321E;
 --color-background-light: #F7F8FA;
 --color-background-dark: #1A1D23;
 --font-display: "IBM Plex Sans", sans-serif;
 --font-body: "IBM Plex Sans", sans-serif;
}
